<%= content_for :head do %>
	<%= stylesheet_link_tag 'home', 'data-turbolink-track' => true %>
<% end %>

<header id="banner">
	<div class="mask">
		<div id="textslider" class="slider cwtexqfangsong">
			<ul>
				<li>獨步全球<br>高效學習</li>
				<li>
					改變學習思維<br>從教室開始
				</li>
				<li>
					翻轉教育<br>真正高效學習
				</li>
			</ul>
		</div>
		<p>這裡是一個固定的小段落，來放對於上面大標題的補充解釋，此處並不會隨著上面文字而變動</p>
	</div>
</header>
<!-- activeadmin notice -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!--  -->
<article id="points" class="row">
	<div class="4u 12u(small) cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸<br/><br/>船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長
		</p>
	</div>
	<div class="4u 12u(small) cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣。
		</p>
	</div>
	<div class="4u 12u(small) cell">
		<hr class="h1line">
		<h2>這放標題</h2>	
		<p>
			這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長
		</p>
	</div>

</article>
<hr />
<article id="about">
	<h1 class="bigbanner">關於補習班<span class="little_describe">這是一個小標題</span></h1>
	
	<ul>
		<li>教育是最棒的投資，科技在進步，教育更應翻轉，但台灣教育理念停留在恐龍時代。</li>
		<li>翻轉式教育，能造出符合這時代有創造力，有理想，未來人才。</li>
		<li>學生總是說「我會」，但答題常常寫錯，因為有太多解題細節並沒有注意到（魔鬼藏在細節裡）</li>
	</ul>
	<p>題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣，這裡是第二個虎克船長第二個虎克船長。這裡有一些內文來敘述標題解釋標題，三個重點來凸顯不一樣。</p>
</article>
<hr />
<article id="methods">
	<h1 class="bigbanner">教學方法<span class="little_describe">轉化成學習行動，反省學習經驗，反覆利用成果</span></h1>
	<div class="row">
		<div class="6u 12u(small) method" id="method1">
			<div class="mask">
			<h2>一.課前自學</h2>
			<p class="hover-vis">影片讓學生了解大方向、大原理，增強課堂學習效率。</p>
			</div>
		</div>
		<div class="6u 12u(small) method" id="method2">
			<div class="mask">
			<h2>二.課中討論</h2>
			<div class="hover-vis">
				<ul>
					<li><p>講解觀念、思考流程和重要範例解說。</p></li>
					<li><p>同學們互相檢討錯誤，釐清答題邏輯。</p></li>
				</ul>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="6u 12u(small) method" id="method3">
			<div class="mask">
			<h2>三.實習加強</h2>
			<p class="hover-vis">由老師分派題目，學生上台演練與講解，讓老師瞭解學習狀況，並讓同學確實了解原理。</p>
			</div>
		</div>
		<div class="6u 12u(small) method" id="method4">
			<div class="mask">
			<h2>四.課後檢討</h2>
			<p  class="hover-vis">不懂的題目回家複習網路影片，或在本班或線上詢問老師解答。</p>
			</div>
		</div>
	</div>
</article>
<hr />
<article id="compare" class="text-center">
	<h1 class="text-center bigbanner">為什麼選擇我們</h1>
	<div class="row">
		<div class="1u block"> </div>
		<table class="10u">
			<thead>
				<th></th>	
				<th class="">優勢</th>
				<th class="">劣勢</th>
			</thead>
			<tbody>
				<tr>
					<th><h4>大補習班</h4></th>
					<td class="green">教材完整</td>
					<td class="red">成效不佳</td>
				</tr>
				<tr>
					<th><h3>個人家教</h3></th>
					<td class="green">效率較高</td>
					<td class="red">老師水準不一<br>教材不完整<br>收費高</td>
				</tr>
				<tr>
					<th><h2>(補習班名稱)</h2></th>
					<td colspan="2" class="yellow">
						<ul>
							<li>小班教學結合上述優點</li>
							<li>效果好, 由練習課知道每個學生的狀況</li>
							<li>培養興趣, 討論課使同學提高學習動機，不需強逼學習</li>
							<li>斬斷填鴨式教育，創造符合學生個人的學習系統</li>
						</ul>
					</td>
					
				</tr>
			</tbody>
		</table>
		<div class="1u block"> </div>
	</div>

</article>

<!-- <article id="gallery">
	<h1 class="text-center bigbanner">為什麼選擇我們？</h1>
	<section id="wheel" class="row flex-center">
		<div class="1u 12u(small) pad"></div>
		<div class="1u 12u(small) col"><h1 class="text-center">從</h1></div>
		<div class="4u 12u(small) col wheel-container">
			<h2 class="text-center wheel-r term1">低效苦讀</h2>
			<h2 class="text-center wheel-r term2">中後段放牛吃草</h2>
			<h2 class="text-center wheel-r term3">遵守本分</h2>
			<h2 class="text-center wheel-r term4">低效苦讀</h2>
			<h2 class="text-center wheel-r term5">中後段放牛吃草</h2>
			<h2 class="text-center wheel-r term6">遵守本分</h2>
			<h2 class="text-center wheel-r term7">有些東西</h2>
		</div>
		<div class="1u 12u(small) col"><h1 class="text-center">到</h1></div>
		<div class="4u 12u(small) col wheel-container">
			<h2 class="text-center wheel-r term1">高效學習</h2>
			<h2 class="text-center wheel-r term2">照顧每個學生</h2>
			<h2 class="text-center wheel-r term3">自發學習</h2>
			<h2 class="text-center wheel-r term4">高效學習</h2>
			<h2 class="text-center wheel-r term5">照顧每個學生</h2>
			<h2 class="text-center wheel-r term6">自發學習</h2>
			<h2 class="text-center wheel-r term7">有些東西</h2>
		</div>
		<div class="1u 12u(small) pad"></div>
	</section>
</article> -->
<hr />
<article id="billboard" class="text-center">
	<%= image_tag 'ribbon.svg', class: "article-icon" %>
	<section class="row billboard-row">

		<% @billboards.each do |billboard| %>
		<div class="3u 6u(small) celebrity ">
		<img src=<%= billboard.image %> alt="風雲榜者" class="avatar"><br>
		<%= billboard.name %><br>
		<%= billboard.rank %><br>
		<%= billboard.share %><br>
		</div>
		<% end %>
	</section>	
</article>
<article id="map" class="row">
	<iframe class="12u" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d920.6095770895614!2d120.3005771!3d22.637441!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x3d79128fbeef1338!2z54Sh5ZCN5pep6aSQ5bqX!5e0!3m2!1szh-TW!2stw!4v1456155777661" width="1600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</article>